<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VisualSearch/src/net/semanticmetadata/lire/sampleapp/Searcher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.semanticmetadata.lire.sampleapp.Searcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="TestImages/a2b82c87a9c03fa07fa9dcd2403c88c8.jpg"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VisualSearch"/>
</launchConfiguration>
